{% extends "StaticContents/base.html" %}
{% load static %}

{% block optcss %}
<link rel="stylesheet" type="text/css" href="{% static 'StaticContents/references.css' %}">

{%endblock optcss%}


{%block content%}
<div class="#">
    <fieldset class="fieldset-default">
        <div class="row">
            <div class="container">
                <h2 class="main-heading">Endorsments</h2>
            </div>
        </div>
    </fieldset>
</div>

<div class="container fieldset-default">
    <div class="reference-body">
        <br>
        <p>
            My name is Doug Svitchan and I was employed as a Director of Purchasing/Senior Sourcing Manager. During my
            tenure, I was associated with Fortune 100 companies including Ford Motor Company, GE, and Stanley Tool. I
            worked with engineers in Chemical, Electrical, and Electro-mechanical Engineering from conceptional design
            through product launch. I would like to introduce you to Anthony Christou who I highly recommend for your
            consideration. Anthony is a recent graduate of Michigan State University degreed as a Chemical Engineer.
        </p>
        <p>
            Anthony is an ambitious, driven, self-starter, that is detailed oriented, and well organized. He is
            extremely professional and has strong Emotional and Intellectual Intelligence. He is a mature well-balanced
            individual with a positive demeanor. In my observations, he has the ability to work and bust through
            difficult barriers despite adversity or ambiguous challenges. He gets the job done!
        </p>
        <p>
            Anthony has the ability to pursue tasks independently without managerial oversight and offers fresh
            perspective as appropriate.
            For Anthony, he is not looking for just a job, he’s applying to make a difference for the right employer and
            is passionate for results!
        </p>
        <p>
            If you are looking for an engineer who is results oriented and can hit the “Ground Running”, I highly
            recommend Anthony Christou for your consideration.
        </p>

    </div>
    <hr>
    <div class="reference-signature">
        <p>Doug Svitchan</p>
    </div>
</div>

<div class="container fieldset-default">
    <div class="reference-body">
        <br>
        <p>
            I have personally known Anthony Christou for most of his life, and it has been a pleasure to watch Anthony
            grow physically, intellectually, and emotionally. Anthony has always conducted himself in a manner that is a
            source of pride to his family, school, and community.
        </p>
        <p>
            I have found Anthony to be intelligent and extremely ambitious. He has always strived for excellence in his
            quest for knowledge, work achievement, and service to others. Anthony is a young man who has always
            impressed me by the level of courtesy and respect he has demonstrated year after year. His leadership at
            school and his contributions to the community are indicative of what I anticipate to be a gratifying and
            successful future. An example of his dedication to the community is demonstrated in achieving the rank of an
            Eagle Scout. This has given him a solid foundation that will serve him well in his chosen career path.
        </p>
        <p>
            I feel Anthony Christou will succeed in his future endeavors and would be an excellent and deserving
            candidate for any pursuit where the end results will be success.
        </p>


    </div>
    <hr>
    <div class="reference-signature">
        <p>Aaron J. Blanzy, DO</p>
    </div>
</div>

<div class="container fieldset-default">
    <div class="reference-body">
        <br>
        <p>
            I have worked with Tony for the past 8 years at A & T Car Wash. Tony has always been a very diligent and
            adaptable employee in what is often a challenging work situation. He is able to meet the ever changing flow
            of customer demands while at the same time showing very crucial attention to detail. Tony is responsible for
            supervising other team members and ensuring that their performance is acceptable. He is very willing to
            mentor and assists other employees in a very pleasant and confidence instilling manner. Tony would be a
            valuable member of any team as he is truly a team player and is willing to do whatever necessary to get the
            job done. It has certainly been my privilege to work alongside of Tony. His hard work and dedication,
            professionalism as well as his overall enthusiasm for doing a quality job would make him a welcome addition
            to any team.
        </p>
    </div>
    <hr>
    <div class="reference-signature">
        <p>Scott Baron, Manager</p>
    </div>
</div>


{%endblock content%}